*.csv
*.json
olist-lakehouse/.venv
olist-lakehouse/kaggle_data_raw
keys/
credentials/
.idea
olist-lakehouse/.idea/
olist-lakehouse/spark-jobs/project/project/*
olist-lakehouse/spark-jobs/project/target/*
olist-lakehouse/spark-jobs/target/*
olist-lakehouse/spark-jobs/.mvn/
olist-lakehouse/spark-jobs/.idea/
olist-lakehouse/spark-jobs/.vscode/
olist-lakehouse/spark-jobs/pipelines/*/target/*
olist-lakehouse/spark-jobs/pipelines/*/.idea/
olist-lakehouse/spark-jobs/pipelines/*/.vscode/
olist-lakehouse/spark-jobs/common/target/*
olist-lakehouse/spark-jobs/common/.idea/
olist-lakehouse/spark-jobs/common/.vscode/
olist-lakehouse/spark-jobs/.bsp/sbt.json