app-name = "orders"
run-env = "local"
gcp-project-id = ${?GCP_PROJECT_ID}
service-account-path = ${?SPARK_SA_PATH}

source {
    data-path = "gs://olist-lakehouse-bronze-layer/olist_orders_dataset"
    check-point-path = "/home/ayushi/de-projects/olist-lakehouse/spark-jobs/pipelines/customers/src/test/resources/checkPointPath"
    partition-column = "prcs_d"
    max-partitions-to-read = 1
    file-format = "parquet"
}

sink {
    data-path = "gs://olist-lakehouse-silver-layer/orders"
}

spark-options {
    views-enabled = "true"
    materialization-dataset = "olist_silver"
    "spark.hadoop.fs.gs.impl" = "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFileSystem"
    "spark.hadoop.fs.AbstractFileSystem.gs.impl" = "com.google.cloud.hadoop.fs.gcs.GoogleHadoopFS"
    "spark.hadoop.google.cloud.auth.service.account.enable" = "true"
    "spark.hadoop.google.cloud.auth.service.account.json.keyfile" = ${?SPARK_SA_PATH}
    "spark.master" = "local[*]"
    "spark.sql.sources.partitionOverwriteMode" = "dynamic"
}