app-name = "geolocation_iceberg_remote"
run-env = "remote"
gcp-project-id = ""
service-account-path = ""
source {
    data-path = "gs://olist-lakehouse-bronze-layer/olist_geolocation_dataset"
    check-point-path = "gs://olist-configs/checkpoints/geolocation_silver"
    partition-column = "prcs_d"
    max-partitions-to-read = 1
    file-format = "parquet"
}

sink {
    catalog-name = "olist_lakehouse_catalog"
    table-name = "olist_lakehouse_catalog.silver.geolocation"
    data-path = ""
    partition-column = ""
}

spark-options {
    views-enabled = "true"
    materialization-dataset = "olist_silver"
    "spark.sql.catalog.defaultCatalog" = ${catalog-name}
    "spark.sql.catalog.olist_lakehouse_catalog" = "org.apache.iceberg.spark.SparkCatalog"
    "spark.sql.catalog.olist_lakehouse_catalog.type" = "rest"
    "spark.sql.catalog.olist_lakehouse_catalog.uri" = "https://biglake.googleapis.com/iceberg/v1/restcatalog"
    "spark.sql.catalog.olist_lakehouse_catalog.warehouse" = "gs://olist_silver"
    "spark.sql.catalog.olist_lakehouse_catalog.rest.auth.type" = "org.apache.iceberg.gcp.auth.GoogleAuthManager"
    "spark.sql.catalog.olist_lakehouse_catalog.header.x-goog-user-project" = ${gcp-project-id}
    "spark.sql.catalog.olist_lakehouse_catalog.io-impl" = "org.apache.iceberg.gcp.gcs.GCSFileIO"
    "spark.sql.catalog.olist_lakehouse_catalog.header.X-Iceberg-Access-Delegation" = "vended-credentials"
    "spark.sql.catalog.olist_lakehouse_catalog.gcs.oauth2.refresh-credentials-endpoint" = "https://oauth2.googleapis.com/token"
    "spark.sql.extensions" = "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions"
}