appName = "customers_local"
runEnv = "local"
gcpProjectId = ${?GCP_PROJECT_ID}
serviceAccountPath = ${?SPARK_SA_PATH}

source {
        dataPath = "/home/ayushi/de-projects/olist-lakehouse/kaggle_data_raw/olist_customers_dataset.csv"
        checkPointPath = "/home/ayushi/de-projects/olist-lakehouse/spark-jobs/pipelines/customers/src/test/resources/checkPointPath"
        partitionColumn = "customer_state"
        processDate = 1
    }
sink {
        dataPath = "/home/ayushi/de-projects/olist-lakehouse/spark-jobs/pipelines/customers/src/test/resources/sink"
    }
sparkOptions{
        viewsEnabled        = "true"
        materializationDataset = "olist_silver"
    }