app-name = "customers_remote"
run-env = "remote"
gcp-project-id = ""
service-account-path = ""
source {
    data-path = "gs://olist-lakehouse-bronze-layer/olist_customers_dataset"
    check-point-path = "gs://olist-configs/checkpoints/customers_silver"
    partition-column = "prcs_d"
    max-partitions-to-read = 1
    file-format = "parquet"
}

sink {
    data-path = "gs://olist-lakehouse-silver-layer/customers"
    partition-column = ""
}

spark-options {
    views-enabled = "true"
    materialization-dataset = "olist_silver"
    "spark.sql.sources.partitionOverwriteMode" = "dynamic"
}