app-name = "customers_remote"
run-env = "remote"
gcp-project-id = ""
service-account-path = ""
source {
    data-path = "gs://olist-bronze-l/olist_customers_dataset"
    check-point-path = "gs://olist-confs/checkpoints/customers"
    partition-column = "prcs_d"
    max-partitions-to-read = 1
    file-format = "parquet"
}

sink {
    catalog-name = "olist_lakehouse_catalog"
    table-name = "olist_lakehouse_catalog.silver.customers"
    data-path = ""
    partition-column = ""
}

spark-options {
    views-enabled = "true"
}